body {
    display:flex;
    flex-direction: column;
}
#header{
    background-color: #1F2937;
}
#pictures{

}
#quote{
    background-color: #E5E7EB;
}
#button{

}
#footer{
    background-color: #1F2937;
}