body {
    display:flex;
    flex-direction: column;
    font-style: italic;
}


#top, #undertop, #flexbox, h2, #buttonBox{
    margin-left: 15%;
    margin-right: 15%;
}

.theButton{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size:18px;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
}



/* Header */

#header{
    background-color: #1F2937;
    color: #F9FAF8;
    width:auto;
}
h1{
    font-size: 48px;
    font-weight:bold;
    color: #F9FAF8;
}
#headline p{
    font-size: 18px;
    color:#E5E7EB;
}

#top{
    display:flex;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: 80px;
}

#links{
    display:flex;
    gap:20px;

}

#undertop{
    display:flex;
    margin-bottom:100px;
    gap:60px;
}
#headline{
    flex: 1 1 0px;
    width:0;
    
}
#imageOne{
    flex: 1 1 0px;
    width:0;
    object-fit:contain;
}
/* Pictures */

#pictures{

}
#flexbox{
    display:flex;
    justify-content: space-between;
    gap:30px;
}
.imgWithText{
    flex: 1 1 0px;
    min-width: 150px;
}
h2{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
}
.imgWithText p{
    margin: auto 10%;
    font-size: 16px;
    text-align: center;
    color: #1F2937;
}
.flexitems{
    border-radius: 25px;
    width:100%;
}

/* Quote */

#quote{
    background-color: #E5E7EB;
    margin-top:150px;
}
.top{
    
    font-size: 36px;
    color: #1F2937;
    margin:auto 30%;
    margin-top:50px;
}
.bottom{
    margin-bottom:50px;
    margin:auto 30%;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}

/* Button */

#button{
    margin-top:100px;
    margin-bottom: 100px;
}
#buttonBox{
    background-color: #3882F6;
}
#buttonBox div{
    display:inline-block;
}

/* Footer */

#footer{
    background-color: #1F2937;
}