body {
    display:flex;
    flex-direction: column;
}


#top, #undertop, #flexbox, h2, .top, .bottom, #buttonBox{
    margin-left: 10%;
    margin-right: 10%;
}




/* Header */

#header{
    background-color: #1F2937;
    color: #F9FAF8;
}

#top{
    display:flex;
    justify-content: space-between;
}

#links{
    display:flex;
    gap:20px;

}

#undertop{
    display:flex;
    margin-bottom:100px;
}
#headline{
    flex: 1 1 0px;
    width:0;
}
#imageOne{
    flex: 1 1 0px;
    width:0
}
/* Pictures */

#pictures{

}
#flexbox{
    display:flex;
    gap:20px;
}
.imgWithText{


}
.flexitems{
    border-radius: 25px;
    width:100%;
}

/* Quote */

#quote{
    background-color: #E5E7EB;
}
.top{
    margin-top:50px;
}
.bottom{
    margin-bottom:50px;
}

/* Button */

#button{

}
#buttonBox{
    background-color: #3882F6;
}
#buttonBox div{
    display:inline-block;
}

/* Footer */

#footer{
    background-color: #1F2937;
}